
.person {
    width: 60%;
    margin: 26px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 500px) {
    .person {
        width: 500px;
    }
}
